#content{
    display: flex;
    flex-flow:column;
    align-items: center;
}
h4{
    display: flex;
    flex-flow:column;
    align-items: center;
}

img{
    border-radius: 10%;
    opacity: 0.5;
}
